<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Search Engine -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="A simple website which answers a single question: should you buy bitcoin today or not? Powered by crowdsourcing.">
    <meta name="image" content="http://shouldibuybitcoin.today/logo.png">

    <meta property="og:locale" content="en_US"/>
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="ShouldIBuyBitcoin.today">
    <meta itemprop="description" content="A simple website which answers a single question: should you buy bitcoin today or not? Powered by crowdsourcing.">
    <meta itemprop="image" content="http://shouldibuybitcoin.today/logo.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="ShouldIBuyBitcoin.today">
    <meta name="twitter:description" content="A simple website which answers a single question: should you buy bitcoin today or not? Powered by crowdsourcing.">
    <meta name="twitter:site" content="@cbrwizard">
    <meta name="twitter:creator" content="@cbrwizard">
    <meta name="twitter:image:src" content="http://shouldibuybitcoin.today/logo.png">
    <!-- Open Graph general (Facebook, Vk, Pinterest & Google+) -->
    <meta name="og:title" content="ShouldIBuyBitcoin.today">
    <meta name="og:description" content="A simple website which answers a single question: should you buy bitcoin today or not? Powered by crowdsourcing.">
    <meta name="og:image" content="http://shouldibuybitcoin.today/logo_wide.png">
    <meta name="og:url" content="http://shouldibuybitcoin.today">
    <meta name="og:site_name" content="ShouldIBuyBitcoin.today">
    <meta name="og:type" content="website">

    <meta name="google-site-verification" content="xslBgnKbJ5TWFuuw36Gvlqu4W32vzMKC_a8jG2n8Fvs" />
    <meta name="yandex-verification" content="4783c4c5d1f59d9e" />

    <link rel="manifest" href="manifest.json">
  </head>
  <body>
    <div id="root" class="h-height-full">**CONTENT**</div>
    <style id="jss-server-side">**STYLE**</style>
    <script>window.__PRELOADED_STATE__=**STATE**</script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4940861009175038",
        enable_page_level_ads: true
      });
    </script>
  </body>
</html>
